div.s3contents {
    border: 1px dashed #ccc;
    padding: 4px;
}

div.s3control {
    padding: 4px;
    background-color: #eee;
    border-bottom: 1px dashed black;
    margin-bottom: 8px;
    font-weight: bold;
}

div.s3control > span {
    margin-right: 6px;
}

div.s3control > button {
    margin-left: 6px;
}

div.s3entry {
    padding: 4px;
    background-color: #eee;
    margin-top: 2px;
    margin-bottom: 2px;
}

div.s3entry:hover {
    background-color: #ddd;
}

div.s3entry > span {
    margin-right: 6px;
}

div.s3entry > a {
    margin-right: 6px;
}

div.s3entry > button {
    margin-left: 6px;
}

form.s3form {
    padding: 4px;
    background-color: #eee;
    border-top: 1px dashed black;
    margin-top: 8px;
}

form.s3form input[type=text] {
    padding: 2px 4px;
    line-height: 1.0;
    height: 22px;
}

span.s3icon {
    cursor: pointer;
}

a.s3link {
    cursor: pointer;
}

.dropzone {
    min-height: 128px;
    border: none;
}

.dropzone .dz-message {
  font-size: 20px;
  line-height: 28px;
}
