<div class="s3c-bucket">
  <!-- errors -->
  <span ng-if="$ctrl.error">{{ $ctrl.error.message }}</span>

  <!-- navigation header and controls -->
  <div class="s3c-top-section s3c-bucket-details">
    <!-- bucket name and current path -->
    <span ng-if="$ctrl.bucket">{{ $ctrl.bucket.name }} &#47;</span>
    <span ng-repeat="part in $ctrl.currentFolder.getPath().components()">
      &nbsp;{{ part }} &#47;
    </span>

    <!-- loading spinner -->
    <div class="s3c-spinner" ng-if="$ctrl.working"></div>

    <!-- navigation controls -->
    <button class="s3c-button" ng-click="$ctrl.loadContents()">Refresh</button>
    <button class="s3c-button" ng-click="$ctrl.navigateParent()">Up</button>
  </div>

  <!-- folders -->
  <folder ng-repeat="folder in $ctrl.folders"
    folder="folder"
    on-navigate="$ctrl.navigateFolder(folder)"
    on-delete="$ctrl.deleteFolder(folder)"></folder>

  <!-- files -->
  <file ng-repeat="file in $ctrl.files"
    file="file"
    versioned="$ctrl.bucket.versioned"
    on-load-versions="$ctrl.loadFileVersions(file)"
    on-delete="$ctrl.deleteFile(file)"></file>

  <!-- controls -->
  <div class="s3c-bottom-section s3c-controls">
    <!-- create folder -->
    <form>
      <input placeholder="Folder name" ng-model="$ctrl.folderName"/>
      <button class="s3c-button" ng-click="$ctrl.createFolder()">
        Create Folder
      </button>
    </form>
  </div>

  <!-- dropzone -->
  <div class="s3c-bottom-section"
    ng-if='$ctrl.uploadConfig'>
    <dropzone
      config="$ctrl.uploadConfig"
      folder="$ctrl.currentFolder"
      backend="$ctrl.backend"
      on-refresh="$ctrl.loadContents()">
    </dropzone>
  </div>
</div>
