<div class="s3c-file">
  <!-- file link -->
  <a href="{{ $ctrl.file.getDownloadLink() }}"
    download="{{ $ctrl.file.getPath().name() }}"
    target="_blank">{{ $ctrl.file.getPath().name() }}</a>

  <!-- controls -->
  <div class="s3c-spinner" ng-if="$ctrl.working"></div>
  <button class="s3c-button"
    ng-if="$ctrl.versioned"
    ng-click="$ctrl.toggleVersions()">Versions</button>
  <button class="s3c-button" ng-click="$ctrl.onDelete()">Delete</button>

  <!-- file versions -->
  <ul class="s3c-file-versions" ng-if="$ctrl.showVersions">
    <li ng-repeat="version in $ctrl.versions">
      <!-- file version link -->
      <a href="{{ version.downloadLink }}"
        download="{{ $ctrl.file.getPath().name() }}"
        target="_blank"
        ng-if="!version.deleteMarker">

        {{ version.lastModified.toLocaleString() }}
      </a>

      <!-- delete marker -->
      <span ng-if="version.deleteMarker">
        {{ version.lastModified.toLocaleString() }} (Deleted)
      </span>
    </li>
  </ul>
</div>
