<div class="s3c-file">
  <!-- TODO: icon -->
  <a ng-click="$ctrl.onDownload()">{{ $ctrl.file.path.name() }}</a>

  <!-- controls -->
  <div class="s3c-spinner" ng-if="$ctrl.working"></div>
  <button class="s3c-button" ng-click="$ctrl.toggleVersions()">Versions</button>
  <button class="s3c-button" ng-click="$ctrl.onDelete()">Delete</button>

  <!-- file versions -->
  <ul class="s3c-file-versions" ng-if="$ctrl.showVersions">
    <li ng-repeat="version in $ctrl.versions">
      <a ng-if="!version.deleteMarker">{{ version.lastModified }}</a>
      <span ng-if="version.deleteMarker">{{ version.lastModified }}</span>
    </li>
  </ul>
</div>
