<div class="s3c-file" ng-class="{'deleted': $ctrl.file.deleted}">
  <!-- file link -->
  <a ng-if="!$ctrl.file.deleted && $ctrl.file.getDownloadLink()"
    href="{{ $ctrl.file.getDownloadLink() }}"
    download="{{ $ctrl.file.getPath().name() }}"
    target="_blank">{{ $ctrl.file.getPath().name() }}</a>

  <!-- if the file is deleted or there is no download link,
    it is not downloadable so don't make it a link -->
  <span ng-if="$ctrl.file.deleted || !$ctrl.file.getDownloadLink()">
    {{ $ctrl.file.getPath().name() }}
  </span>

  <!-- controls -->
  <div class="s3c-spinner" ng-if="$ctrl.working"></div>
  <button class="s3c-button"
    ng-if="$ctrl.versioned"
    ng-click="$ctrl.toggleVersions()">Versions</button>
  <button class="s3c-button" ng-if="!$ctrl.file.deleted" ng-click="$ctrl.onDelete()">Delete</button>

  <!-- file versions -->
  <ul class="s3c-file-versions" ng-if="$ctrl.showVersions">
    <li ng-repeat="version in $ctrl.versions">
      <!-- file version link -->
      <a href="{{ version.downloadLink }}"
        download="{{ $ctrl.file.getPath().name() }}"
        target="_blank"
        ng-if="!version.deleteMarker">
        <i class="s3c-version-icon"></i>
        {{ version.lastModified.toLocaleString() }}
      </a>

      <!-- delete marker -->
      <span ng-if="version.deleteMarker">
        <i class="s3c-delete-icon"></i>
        {{ version.lastModified.toLocaleString() }} (Deleted)
      </span>
    </li>
  </ul>
</div>
